Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  -llvm-header-guard

CheckOptions:
  - { key: readability-identifier-length.IgnoredVariableNames, value: '^(i|j|k|io)$' }