#include <windows.h>
#include "merc.rh"

CURSOR_1 CURSOR "mouse.cur"

OPTIONS DIALOG 6, 17, 251, 251
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Game Setup"
FONT 8, "MS Sans Serif"
BEGIN
 DEFPUSHBUTTON "&Quit", IDCANCEL, 208, 228, 36, 14
 EDITTEXT IDC_CNAME, 40, 32, 68, 12, WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX "Sound Effects", IDC_DOSOUND, 98, 209, 60, 12
 LTEXT "STATUS: OK", IDC_STATUS, 16, 96, 152, 56
 DEFPUSHBUTTON "Create New Account", IDC_NEW, 152, 8, 88, 14
 LTEXT "Name:", -1, 12, 34, 24, 8
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 4, 4, 244, 244
 LTEXT "New Account", IDC_RNAME, 12, 12, 136, 8
 DEFPUSHBUTTON "&Load", IDC_LOAD, 48, 228, 36, 14
 DEFPUSHBUTTON "S&ave", IDC_SAVE, 88, 228, 36, 14
 DEFPUSHBUTTON "&Discord", IDC_NEWS, 142, 228, 48, 14
 //DEFPUSHBUTTON "&Help", IDC_HELP, 168, 228, 36, 14
 //DEFPUSHBUTTON "&News", IDC_NEWS, 128, 228, 36, 14
 DEFPUSHBUTTON "&Start", IDOK, 8, 228, 36, 14
 LTEXT "Description:", -1, 12, 52, 44, 8
 EDITTEXT IDC_DESC, 12, 64, 229, 20, ES_MULTILINE | WS_BORDER | WS_TABSTOP
 LTEXT "Gender:", -1, 176, 158, 32, 8
 AUTORADIOBUTTON "Male", IDC_MALE, 176, 170, 52, 12
 AUTORADIOBUTTON "Female", IDC_FEMALE, 176, 182, 52, 12
 LTEXT "Class:", -1, 176, 92, 32, 8
 AUTORADIOBUTTON "Templar", IDC_TEMP, 176, 104, 60, 12
 AUTORADIOBUTTON "Mercenary", IDC_MERC, 176, 116, 60, 12
 AUTORADIOBUTTON "Harakim", IDC_HARA, 176, 128, 60, 12
 AUTORADIOBUTTON "Null", IDC_ARCH, 176, 143, 100, 12
 //AUTORADIOBUTTON "Arch-Templar", IDC_ARCHTEMPLAR, 176, 96, 60, 12
 //AUTORADIOBUTTON "Skald", IDC_PUGILIST, 176, 108, 60, 12
 //AUTORADIOBUTTON "Warrior", IDC_WARRIOR, 176, 132, 60, 12
 //AUTORADIOBUTTON "Seyan'du", IDC_SEY, 176, 144, 60, 12
 //AUTORADIOBUTTON "Sorcerer", IDC_SORCERER, 176, 156, 60, 12
 //AUTORADIOBUTTON "Summoner", IDC_SUMMONER, 176, 180, 60, 12
 //AUTORADIOBUTTON "Arch-Harakim", IDC_ARCHHARAKIM, 176, 192, 60, 12
 AUTORADIOBUTTON "Windowed", IDC_WINDOWED, 98, 170, 52, 12
 AUTORADIOBUTTON "Fullscreen", IDC_FULLSCREEN, 98, 182, 52, 12
 //LTEXT "Resolution", IDC_RESOLUTION, 264, 8, 101, 8
 //AUTORADIOBUTTON "800x600", IDC_RES800, 260, 24, 52, 12
 //AUTORADIOBUTTON "1280x720", IDC_RES1280, 260, 38, 52, 12
 //AUTORADIOBUTTON "1600x900", IDC_RES1600, 260, 52, 52, 12
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 12, 92, 160, 68
 CONTROL "Full Alpha", IDC_FULLALPHA, "BUTTON", BS_AUTORADIOBUTTON, 20, 170, 52, 12
 CONTROL "Partial Alpha", IDC_PARTIALALPHA, "BUTTON", BS_AUTORADIOBUTTON, 20, 182, 52, 12
 CONTROL "No Alpha", IDC_NOALPHA, "BUTTON", BS_AUTORADIOBUTTON, 20, 194, 52, 12
 LTEXT "", IDC_MOD, 16, 132, 152, 24
 LTEXT "Password:", -1, 128, 34, 38, 8
 EDITTEXT IDC_PASS, 170, 32, 68, 12, ES_PASSWORD | WS_BORDER | WS_TABSTOP
 CHECKBOX "Shadows", IDC_DOSHADOW, 20, 209, 60, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX "Dark GUI", IDC_DODARKMODE, 176, 209, 60, 12
END
1 VERSIONINFO
FILEVERSION 0, 6, 2, 0
PRODUCTVERSION 0, 6, 2, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS_DOS_WINDOWS16
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904E4"
  BEGIN
   VALUE "CompanyName", "n/a\000"
   VALUE "Author", "Zachary 'ZarroTsu' Baillie\000"
   VALUE "FileDescription", "The Last Gate\000"
   VALUE "FileVersion", "0.6.2\000"
   VALUE "InternalName", "TLG\000"
   VALUE "LegalCopyright", "Copyright \251 D.Brockhaus 1997-2001\000"
   VALUE "OriginalFilename", "THELASTGATE.EXE\000"
   VALUE "ProductName", "The Last Gate\000"
   VALUE "ProductVersion", "0.6.2\000"
   VALUE "Comments", "Beta Test Version\000"
  END

  BLOCK "040704B0"
  BEGIN
   VALUE "CompanyName", "n/a\000"
   VALUE "Author", "Zachary 'ZarroTsu' Baillie\000"
   VALUE "FileDescription", "The Last Gate\000"
   VALUE "FileVersion", "0.6.2\000"
   VALUE "InternalName", "TLG\000"
   VALUE "LegalCopyright", "Copyright \251 D.Brockhaus 1997-2001\000"
   VALUE "OriginalFilename", "THELASTGATE.EXE\000"
   VALUE "ProductName", "The Last Gate\000"
   VALUE "ProductVersion", "0.6.2\000"
   VALUE "Comments", "Beta Test Version\000"
  END

 END

END

ICON_1 ICON "resources/icon1.ico"

CURSOR_2 CURSOR "resources/cursor2.cur"
CURSOR_3 CURSOR "resources/cursor3.cur"
CURSOR_4 CURSOR "resources/cursor4.cur"
CURSOR_5 CURSOR "resources/cursor5.cur"
CURSOR_6 CURSOR "resources/cursor6.cur"
CURSOR_7 CURSOR "resources/cursor7.cur"
CURSOR_8 CURSOR "resources/cursor8.cur"
CURSOR_9 CURSOR "resources/cursor9.cur"

